<div class="footer">
    <div class="grey-links">
        <div class="pages">Pages</div>
        <a href="/work">
          <div class="grey-link">Work</div>
        </a>
        <a href="about">
            <div class="grey-link">About</div>
        </a>
        <a href="/contact">
            <div class="grey-link">Contact</div>
        </a>
    </div>
    <div class="linkedin-block">
        <a href="https://www.linkedin.com/in/craig-dixon-3921a9181/" target="blank">
            <i id="linkedin-logo" class="fab fa-linkedin-in"></i>
        </a>
    </div>
</div>