<!DOCTYPE html>
<html lang="en">
   {{> main}}
    <body>
       <div class="home">
           <div class="decor"></div>
           <div class="home-case">
               <div class="home-box">
                   <div class="typewriter">
                       <h1>Hello, I'm a</h1>
                   </div>
                   <div class="typewriter-1">
                       <h1>Full Stack Web Developer!!</h1>
                   </div>
                   <div class="typewriter-2">
                       <h1>Living in Melbourne Australia.</h1>
                   </div>
               </div>
               <a class="home-button" href="/work">Recent Projects</a>
               <a class="home-button" href="/contact">Let's Chat</a>
           </div>
       </div>
       {{> footer}}
    </body>
</html>